<header>
  <img
    src="assets/img/damaris.jpeg"
    alt="Dâmaris Dwayne - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Dâmaris Dwayne</h1>
</header>

<aside>
  <div class="container">
    <p>Frontend Javascript | React | Next | Angular</p>
    <p>Belo Horizonte, Minas Gerais, Brasil</p>
    <p>
      Sou uma programadora altamente dedicada em uma constante jornada de
      autodesenvolvimento, comprometida em criar códigos extraordinários. Minha
      busca contínua por conhecimento me motiva a explorar novas tecnologias e
      aprimorar minhas habilidades, garantindo que cada linha de código seja
      excepcional!
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/d%C3%A2maris-dwayne/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkeIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5531985821236"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (31) 9 8582-1236</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:damarisdwayne@outlook.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>damarisdwayne&#64;outlook.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
