<ng-container *transloco="let t">
  <header>
    <h2 mat-dialog-title>{{ getData()?.title }}</h2>

    <button (click)="closeModal()">
      <img src="assets/icons/dialog/close.svg" [alt]="t('projects.closeAlt')" />
    </button>
  </header>

  <mat-dialog-content>
    <h3>{{ t('projects.dialogDescription') }}</h3>

    <article [innerHTML]="t('projects.' + getData()?.key + '.description')"></article>

    <nav>
      <a [href]="getData()?.href" target="_blank" class="btn btn-primary">
        {{ t('projects.cta') }}
      </a>
    </nav>
  </mat-dialog-content>
</ng-container>
